*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    // border: 1px solid blue;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.buttom{
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    display: inline-flex;
    padding: 15px 35px;
    align-items: flex-start;
    border-radius: 12px;
    background: $orange;
}