@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');


* {
   margin: 0;
   box-sizing: border-box;
   /* border: 1px solid red; */
}

.btn {
   margin-top: 30px;
   border-radius: 12px;
   background: #634121;
}

header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   height: 131px;
   background: #FFF;
}

header .logo {
   width: 210.001px;
   height: 71px;
   flex-shrink: 0;
}

header .address {
   display: flex;
   text-align: center;
   width: 197px;
   height: 48px;
   flex-shrink: 0;
}

header .language {
   display: flex;
   text-align: center;
   flex-direction: column;
}

header .address img {
   width: 44px;
   height: 44px;
}

header .date {
   width: 194px;
   height: 65px;
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
}

header .date .title_gr {
   display: flex;
   padding-left: 20px;
}

header .date .time {
   color: #000;
   font-family: Montserrat;
   font-size: 28px;
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
}

header .date .title {
   color: #312922;
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
}

header .phone .title {
   color: #312922;
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
}

header .phone {
   width: 252px;
   height: 65px;
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
}

header .phone .number {
   color: #000;
   font-family: Montserrat;
   font-size: 28px;
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
}

header .phone .title_gr {
   display: flex;
   padding-left: 20px;
}

header .phone .title_gr img {
   padding-right: 10px;
}

header .date .title_gr img {
   padding-right: 10px;
}

.header_section {
   flex-shrink: 0;
   background: #FFF8F2;
   display: flex;
   flex-direction: row;
   padding-bottom: 40px;
}

.header_section .content {
   display: flex;
   flex-direction: row;
   padding-top: 104px;
   justify-content: space-between;
}

.header_section .content .right {
   width: 414px;
   height: 580px;
   flex-shrink: 0;
   background: lightgray -509.226px -39.349px / 223.13% 106.784% no-repeat;
}

.header_section .content .left .left_buttom {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 541px;
   height: 145px;
   margin-top: 73px;
}

.header_section .content .left .left_buttom .group_01 {
   width: 167px;
   height: 145px;
   flex-shrink: 0;
   border-radius: 12px;
   border: 1px solid #A49384;
   background: #FFF;
}

.header_section .content .left .left_top .title {
   display: flex;
   width: 488px;
   height: 122px;
   flex-direction: column;
   flex-shrink: 0;
   color: #231202;
   font-family: Raleway;
   font-size: 48px;
   font-style: normal;
   font-weight: 600;
   line-height: 130%;
}

.header_section .content .left .left_top .text {
   display: flex;
   width: 470px;
   flex-direction: column;
   flex-shrink: 0;
   color: #312922;
   font-family: Raleway;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   padding-top: 25px;
}

.header_section .buttom {
   display: flex;
   flex-direction: row;
}

.header_section .buttom .buttom_gr {
   display: flex;
   flex-direction: row;
}

.about {
   display: flex;
   flex-direction: row;
   margin-top: 80px;
   margin: 0 auto;
   padding-top: 40px;
}

.about .left video {
   width: 728px;
   height: 497px;
   flex-shrink: 0;
   border-radius: 12px;
   background: linear-gradient(0deg, rgba(168, 135, 104, 0.50) 0%, rgba(168, 135, 104, 0.50) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
   background-blend-mode: multiply, normal;
}

.about .right h1 {
   color: #231202;
   font-family: Raleway;
   font-size: 38px;
   font-style: normal;
   font-weight: 600;
   line-height: 130%;
}

.about .right h3 {
   color: #012424;
   font-family: Montserrat;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
   padding-top: 63px;
}

.about .right {
   margin-left: 63px;
}

.about .right .text {
   display: flex;
   width: 410px;
   height: 132px;
   flex-direction: column;
   flex-shrink: 0;
   color: #312922;
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   padding-top: 20px;
}

.about .right .phone_gr {
   display: flex;
   flex-direction: column;
   padding-top: 20px;
}

.about .right .phone_gr .phone {
   margin-top: 12px;
}

.category {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-left: 12px;
   align-items: center;
   text-align: center;
}

.category a {
   text-decoration: none;
   color: #746F6B;
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 130%;
}

.images {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-column-gap: 20px;
   grid-row-gap: 20px;
}

.assortimen-img:nth-child(1) {
   position: relative;
   grid-area: 1 / 1 / 2 / 3;
}

.assortimen-img:nth-child(2) {
   grid-area: 1 / 3 / 2 / 4;
   position: relative;
}

.assortimen-img:nth-child(3) {
   grid-area: 2 / 1 / 3 / 2;
   position: relative;
}

.assortimen-img:nth-child(4) {
   grid-area: 2 / 2 / 3 / 4;
   position: relative;
}

.assortimen-img:nth-child(5) {
   grid-area: 3 / 1 / 5 / 3;
   position: relative;
}

.assortimen-img:nth-child(6) {
   grid-area: 3 / 3 / 4 / 4;
   position: relative;
}

.assortimen-img:nth-child(7) {
   grid-area: 4 / 3 / 5 / 4;
   position: relative;
}

.assortimen-img .title {
   position: absolute;
   left: 20px;
   bottom: 20px;
   color: #FFF;
   font-family: Raleway;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 130%;
}

.assortimen-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.container section {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-top: 90px;
}

.container section .left h3 {
   display: flex;
   width: 541px;
   flex-direction: column;
   flex-shrink: 0;
   color: #231202;
   font-family: Raleway;
   font-size: 38px;
   font-style: normal;
   font-weight: 600;
   line-height: 140%;
}

.container section .left .text {
   display: flex;
   width: 393px;
   flex-direction: column;
   flex-shrink: 0;
   color: #312922;
   font-family: Raleway;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%;
   padding-top: 24px;
}

.container section .left .text2 {
   display: flex;
   width: 491px;
   flex-direction: column;
   flex-shrink: 0;
   color: #231202;
   font-family: Raleway;
   font-size: 20px;
   font-style: normal;
   padding-top: 41px;
   padding-bottom: 24px;
   font-weight: 600;
   line-height: 140%;
}

.nima {
   text-align: center;
   align-items: center;
   padding-top: 40px;
}

.backraound {
   background: #FFF8F2;
   margin-top: 80px;
}

.explanation {
   margin-top: 40px;
   margin-bottom: 40px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.explanation .explanation_gr {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.product {
   display: grid;
   gap: 20px;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(383px, 1fr);
   /* height: 1500px; */
   box-sizing: border-box;
}
.product .card {
   width: 386px;
   height: 252px;
   flex-shrink: 0;
   border-radius: 12px;
   border: 3px solid #A49384;
}
.div1 {object-fit: cover; width: 100%; height: 100%; grid-area: 1 / 1 / 3 / 2; }
.div2 {object-fit: cover; width: 100%; height: 100%; grid-area: 1 / 2 / 3 / 3; }
.div3 {object-fit: cover; width: 100%; height: 100%; grid-area: 1 / 3 / 2 / 4; }
.div4 {object-fit: cover; width: 100%; height: 100%; grid-area: 2 / 3 / 4 / 4; }
.div5 {object-fit: cover; width: 100%; height: 100%; grid-area: 3 / 2 / 4 / 3; }
.div6 {object-fit: cover; width: 100%; height: 100%; grid-area: 3 / 1 / 4 / 2; }
.div7 {object-fit: cover; width: 100%; height: 100%; grid-area: 4 / 1 / 6 / 3; }
.div8 {object-fit: cover; width: 100%; height: 100%; grid-area: 4 / 3 / 5 / 4; }
.div9 {object-fit: cover; width: 100%; height: 100%; grid-area: 5 / 3 / 6 / 4; }
.customer_opinion{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.cantainer1{
   background: #FFF8F2;
   margin-top: 80px;
}
.container2{
   background: #F4CFAF;
}
.cantainer1 .title{
   padding-top: 40px;
   padding-bottom: 40px;
}
.advice{
   display: flex;
   flex-shrink: 0;
   flex-direction: row;
   align-items: center;text-align: center;
}